body {
    margin: 0;
}
h1, p {
    color: white;
    text-align: center;
    margin: 0;
    padding-top:20px;
}
.fundal1 {
    background: url("assets/images/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
.alignr {
    text-align: right;
    height: 90px;
    padding-top: 20px
}
.alignr a {
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.alignr a:last-child {
    padding-right: 20px;
}
#centru {
    margin-top: 60px;
    text-align: center;
    font-size: 50px;
    color: white;
    margin-bottom: 10px;
}
.buton1 {
    border-radius: 28px;
    margin-top: 10px;
    margin-left: 880px;
    font-size: 20px;
    padding: 9px 20px 10px 20px;
    background-color: transparent;
    color: #ffffff;
    border: solid #ffffff 4px;
    text-decoration: none;
}
.buton1:hover {
    background: #ffffff;
    color: #000000;
    border: solid #000000 4px;
    text-decoration: none;
}
.col-inline {
    width: 33%;
    display: inline-block;
}
.image-wrapper {
    height: 100px;
    width: 100px;
    margin: auto;
    padding: 15px;
    border: solid #000000 2px;
    border-radius: 50%;
    position:relative;
}
.image-wrapper:hover{
  background-color:red;
}
.col-inline img {
    height: 80px;
    width: 80px;
    position:absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
}
.fundal2 {
    background-color:#1BE9E9;
    background-size: cover;
    height: 270px;
}

.container{
  width:1000px;
  margin-left:425px;
  margin-top:40px;
}

.fundal3 {
    background-color:#153636;
    background-size: cover;
    height: 800px;
}
.row-group{
  width:1200px;
  margin-left:450px;
  padding-top:10px;
}
.col{
  width: 27%;
  float:left;
  padding-right:15px;
}
.col img{
  height:240px;
  width:320px;
}

.row-group:after{
  content:"";
  display:block;
  clear:both;
}
#pad{
  padding-bottom:15px;
}

.col img:hover{
  transform:scale(1.2);
  transition:1.5;
  opacity:0.9;
}
